.haha {
	background-color: #EEE;
	border-radius: 100%;
	border: 5px solid #8e24aa;
	width: 35px;
	height: 35px;
}
.ha {
	background-color: blue;
	border-radius: 100%;
	border: 5px solid #8e24aa;
	width: 35px;
	height: 35px;
}