body {
    background-color: whitesmoke;
}

.header {
    margin-left: -8px;
    margin-top: -8px;
    flex: auto;
    position: fixed;
    height:  40px;
    width: 100%;
    background-color: #8e24aa;
    font-family: 'Roboto', sans-serif;
    border-bottom: #6918b4 solid 1px;
}

.header > .content {
    position: absolute;
    top: 50%;
    margin-left: 14ch;
    transform: translate(0, -50%);
    color: white;
}

#user_photo {
	margin-left: 30px;
	border-radius: 50%;
}

.header img {
    top: 50%;
    height: 38px;
    width: auto;
}
#options_button {
    float: right;
}

#search_button {
    margin-top: 7px;
    float: right;
    margin-right: 17px;
    height: 22px;
}

.messages_pool {
	flex-direction: column;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
.messages_content {
    padding: 40px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.message_got {
	align-content: flex-start;
	flex-basis: 50%;
	margin-top: 10px;
	padding: 10px 15px 0 15px;
	border: 1px solid #c1b6c3;
	border-radius: 5px;
}

.time {
	float: right;
	color: grey;
	font-size: 12px;
}
.input_message {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    justify-content: flex-end;

}

#sender {
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px 15px 15px;
    width: 100%;
}